
$desktop-small: 1250px;
$tablet: 992px;
$tablet-small: 768px;
$mobile: 636px;


:root {
	--ff: "Work Sans", sans-serif;
	--transition: .2s all ease-in-out;

	--c-primary: #0b8fed;
	--c-text-white: #fff;
	--c-border: #eee;
}
