.doctors {
    &__title {
        margin-bottom: 56rem;
    }

    &__desc {
        margin-bottom: 111rem;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(330rem, 1fr));
        gap: 27rem;
        margin-bottom: 111rem;

        @include tablet {
            grid-template-columns: 1fr;
        }
    }

    &__item {
        background: rgb(249, 241, 254);
        padding: 44rem 38rem 33rem 39rem;
        border-radius: 20rem;

        &__desc {
            color: rgb(87, 87, 87);
            font-family: var(--ff);
            font-size: 16rem;
            font-weight: 400;
            line-height: 19rem;
            margin-top: 25rem;
            margin-bottom: 28rem;
        }

        &__btn {
            min-width: 282rem;
            padding: 11rem 49rem;
            color: rgb(249, 241, 254);
            font-family: var(--ff);
            font-size: 20rem;
            font-weight: 600;
            line-height: 23rem;
            border-radius: 50rem;
            background: rgb(136, 66, 240);
        }

        &__about {
            display: flex;
            gap: 13rem;

            &__title {
                color: rgb(38, 38, 38);
                font-family: var(--ff);
                font-size: 20rem;
                font-weight: 600;
                line-height: 23rem;
            }

            &__desc {
                color: rgb(87, 87, 87);
                font-family: var(--ff);
                font-size: 16rem;
                font-weight: 400;
                line-height: 19rem;
            }

            &__img {
                max-width: 63rem;
                width: 100%;
            }
        }

        &__about-row {
            display: flex;
            flex-direction: column;
            gap: 3rem;
            margin-top: 8rem;
        }
    }
}